# Applied Machine Learning - Mini Challenge: Cross-Selling of Credit Cards
**Author**: Nils Fahrni

In [11]:
import sklearn
import numpy as np
import sys

sys.path.append('scripts')
from dataloader import DataLoader

RANDOM_SEED = 1337 # for reproducibility

## Data Preprocessing

### Data Loading

In [12]:
data_loader = DataLoader(base_path='data', translations_name='translation_mappings.json')
data_loader.list_datasets()

['loan', 'client', 'district', 'trans', 'account', 'card', 'order', 'disp']

In [14]:
account = data_loader.load_csv('account', parse_dates={'date': '%y%m%d'})
account.sample(5, random_state=RANDOM_SEED)

Mapped frequency -> {'POPLATEK MESICNE': 'MONTHLY CHARGES', 'POPLATEK TYDNE': 'WEEKLY CHARGES', 'POPLATEK PO OBRATU': 'TRANSACTION CHARGES'}

      account_id  district_id        frequency       date
2103        3646           63   WEEKLY CHARGES 1995-10-20
1721         981           66  MONTHLY CHARGES 1995-03-25
1193        2501           30  MONTHLY CHARGES 1994-02-26
2892        2604           68  MONTHLY CHARGES 1996-07-04
252         1189           59  MONTHLY CHARGES 1993-03-19

### Data Merging

### Data Cleaning

## Model Construction

### Identifying Existing Customers

### Identifying Existing Non-Customers

### Generating Event-Based Customer Information

## Feature Engineering

### Deriving New Features